html {
  background-repeat: no-repeat;
  background-size: cover;
}
html body header {
  margin: 30px auto;
}
html body header h1 {
  font-size: 3.5em;
  text-align: center;
}
html body .icon-container {
  display: block;
  margin: 10px auto;
  text-align: center;
}
html body .blocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  width: 80%;
}
html body .blocks-container .temp, html body .blocks-container .humidity, html body .blocks-container .description {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  text-align: center;
}
html body .blocks-container .temp h2, html body .blocks-container .humidity h2, html body .blocks-container .description h2 {
  font-size: 3em;
}
html body .blocks-container .temp p, html body .blocks-container .humidity p, html body .blocks-container .description p {
  font-size: 2em;
}
html body .switch {
  background-color: #1B998B;
  border: #1B998B;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #101010;
  display: block;
  font-size: 15px;
  margin: 10px auto;
  padding: 10px;
}
html body .warning {
  width: 80%;
}
html body .darksky a {
  bottom: 10px;
  position: fixed;
}
